/*Custom CSS sheet*/

body, html{
	height: 100%;
	width: 100%;
}

a, u {
	text-decoration: none;
}
/*.color-pallete{
	grey: #2b2b2b;
	turquoise: #165b63;
	blue: #266686;
	light-grey: #c5c5c5;
	light-blue: #578ac4;
}*/

.all-page-wrapper{
	position: relative;
	height: 100%;
	width: 100%;
}

.background-image-index{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -100;
	top: 0;
	left: 0;
}

.photo-background-hidden{
	display: none;
}

.photo-background-visible{
    -webkit-transition: opacity 2s ease-in ease-out;
    -moz-transition: opacity 2s ease-in ease-out;
    -o-transition: opacity 2s ease-in ease-out;
    -ms-transition: opacity 2s ease-in ease-out;
    transition: opacity 2s ease-in ease-out;
}

.background-image-index img{
	height: 100%;
	width: 100%;
}

.main-container{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#contact{
	padding-right: 50px;
}

#login{
	/*display: none;*/
}

.carousel-slide, .carousel-inner, .item, .img {
	max-height: 600px;
}

#about-me{
	margin-top: 50px;
}

#homeCarousel{
	height: 100%;
	width: 100%;
}

.main-content-index{
	height: 100%;
	width: 100%;
}

.nav-wrapper{
	height: 80px;
	margin-top: 50px;
	background-color: #c5c5c5;
}

.nav-item-wrapper{
	height: 100%;
	/*width: 90%;*/
	margin-left: 5%;
}

.left-nav-wrapper, .right-nav-wrapper, .group-nav-wrapper{
	height: 100%;
}

.custom-nav-side{
	height: 100%;
	padding: 0 !important;
	text-align: center;
}

.custom-nav-side-content{
	display: block;
	font-size: 17px;
	float: left;
	height: 100%;
	width: 100%;
	margin-top: 10px;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.custom-nav-side:hover{
	background-color: #578ac4;
}

.custom-navbar-brand-wrapper{
	height: 100%;
	width: 40%;
}

.custom-navbar-brand-wrapper:hover{
	/*background-color: #165b63;*/
}

.custom-navbar-brand{
	text-align: center;
	display: inline-block;
	font-size: 21px;
	padding: 5px !important;
}

